// out:../css/media.css

@media (max-width: 1200px) {

}


@media (max-width: 900px) {

    .main-header {
        .header-container {
            .header-title {
            }
    
            .header-buttons {
                .header-btn {
                    display: inline-block;
                            
                    &.trans-btn {
                        border: 3px solid #FFFFFF;
                        background: transparent;
                        padding: 20px 74px;
                        box-sizing: border-box;
    
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.10);
                        }
                    }
                }
            }
    
            .slogan {
                margin-top: 100px;
            }
        }
    }
}



@media (max-width: 600px) {
    
}