@media (max-width: 900px) {
  .main-header .header-container .header-buttons .header-btn {
    display: inline-block;
  }
  .main-header .header-container .header-buttons .header-btn.trans-btn {
    border: 3px solid #FFFFFF;
    background: transparent;
    padding: 20px 74px;
    box-sizing: border-box;
  }
  .main-header .header-container .header-buttons .header-btn.trans-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .main-header .header-container .slogan {
    margin-top: 100px;
  }
}
@media (max-width: 600px) {
  .menu-fixed .menu-fixed-container .menu-container .menu {
    display: none;
  }
  .menu-fixed .menu-fixed-container .menu-container .menu li {
    display: none;
  }
  .menu-fixed .menu-fixed-container .menu-container .menu li.mobile-icon {
    visibility: visible;
    display: block;
  }
  .menu-fixed .menu-fixed-container .menu-container .menu li.mobile-icon a span {
    color: #fff;
    font-size: 30px;
  }
  .mobile-menu-container {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
  }
  .mobile-menu-container .mobile-overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(61, 61, 61, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 500;
  }
  .mobile-menu-container .mobile-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .mobile-menu-container .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    background: #2B57B1;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 3000;
  }
  .mobile-menu-container .mobile-menu.active {
    transform: translateX(0);
  }
  .mobile-menu-container .mobile-menu .mobile-menu-logo {
    display: flex;
    align-items: center;
  }
  .mobile-menu-container .mobile-menu .mobile-menu-logo a {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  .mobile-menu-container .mobile-menu .mobile-menu-logo a span {
    color: #fff;
    font-size: 18px;
  }
  .mobile-menu-container .mobile-menu .mobile-menu-logo .mobile-menu-image {
    margin-right: 15px;
  }
  .mobile-menu-container .mobile-menu .mobile-menu-logo .mobile-logo-name p {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
  }
  .mobile-menu-container .mobile-menu h6 {
    margin-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 40px;
    color: #fff;
  }
  .mobile-menu-container .mobile-menu .mobile-menu-items li a {
    font-size: 16px;
    display: block;
    color: #fff;
    padding: 25px 50px 25px 100px;
  }
  .mobile-menu-container .mobile-menu .mobile-menu-items li a span {
    color: #fff;
    padding-right: 20px;
  }
  .mobile-menu-container .mobile-menu .language {
    padding: 0 20px 0 25px;
  }
  .mobile-menu-container .mobile-menu .language .lang {
    color: #fff;
    font-size: 14px;
    cursor: default;
    text-transform: uppercase;
  }
  .mobile-menu-container .mobile-menu .language .lang.lang-ru {
    background-color: #2B57B1;
    padding: 5px 7px;
    border-radius: 6px;
  }
  .mobile-menu-container .mobile-menu .language .lang.lang-ua {
    padding: 5px 7px;
  }
  .mobile-menu-container .mobile-menu .language .lang.lang-ua:hover {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .mobile-menu-container .mobile-menu .numbers .number-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  .mobile-menu-container .mobile-menu .numbers .number-block:last-child {
    margin-bottom: 0;
  }
  .mobile-menu-container .mobile-menu .numbers .number-block .number-icon {
    margin-right: 5px;
  }
  .mobile-menu-container .mobile-menu .numbers .number-block .number-icon img {
    width: 18px;
    user-select: none;
  }
  .mobile-menu-container .mobile-menu .numbers .number-block .number-item p {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }
}
